.sidebar {
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    background-color: white;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
}

.sidebarWrapper {
    padding: 20px;
}
.sidebarList {
    margin: 0;
    list-style: none;
    background-color: rgba(128, 255, 0, 0.103);
    border-radius: 10px;
    border: 2px solid grey;
    padding: 10px 7px;
    padding-left: 10px;
}
.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 600;
}
.sidebarIcon {
    margin-right: 15px;
}
.sidebarHr {
    margin: 20px 0px;
}
.sidebarFriendList {
    padding: 10px 10px;
    margin: 0;
    list-style: none;
    background-color: #c20ab936;
    border-radius: 10px;
    border: 2px solid grey;
}
